<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование товара</title>
    <link rel="icon" th:href="@{images/icon.png}" />
    <link th:href="@{/css/admin.css}" type="text/css" rel="stylesheet">
</head>
<body class="container">
<div class="header">
    <a href="/admin"><img width="100px" th:src="@{/images/logo.jpg}" /></a>
    <div class="button">
        <form action="/admin">
            <button class="slide-btns slide-left" type="submit" >Назад</button>
        </form>
    </div>

</div>
<div class="article">
    <div class="form">
<h3>Редактирование товара</h3>
<form class="edit-add" th:method="POST" th:action="@{/admin/product/edit/{id}(id=${product.getId()})}" th:object="${product}" enctype="multipart/form-data">
    <label for="title">Введите наименование товара: </label>
    <input type="text" th:field="*{title}" placeholder="Наименование" id="title">
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    <br>
    <br>
    <label for="description">Введите описание товара: </label>
    <textarea th:field="*{description}" placeholder="Описание" id="description"></textarea>
    <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    <br>
    <br>
    <label for="price">Введите цену товара: </label>
    <input type="number" th:field="*{price}" min="1" step="0.00" placeholder="Цена" id="price">
    <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
    <br>
    <br>
    <label for="warehouse">Введите cклад, на котором расположен товар: </label>
    <input type="text" th:field="*{warehouse}" placeholder="Cклад" id="warehouse">
    <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
    <br>
    <br>
    <label for="category">Выберите категорию товара: </label>
    <select name="category" th:field="*{category}" id="category">
        <div th:each="element : ${category}">
            <option th:text="${element.getName()}" th:value="${element.getId()}">
        </div>
    </select>
    <div style="color: red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
    <br>
    <br>
    <label for="seller">Введите данные о продавце: </label>
    <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
    <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
    <br>
    <br>
    <button type="submit" value="Сохранить изменения">Сохранить изменения</button>


</form>
    </div>
</div>
</body>
</html>