<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OUTFIT</title>
    <link rel="icon" th:href="@{images/icon.png}" >
    <link th:href="@{/css/product.css}" type="text/css" rel="stylesheet">
</head>
<body class="container">

<div class="header">
    <div id="1">
        <a href="#"><img width="100px" th:src="@{/images/logo2.jpg}" alt="Главная"></a>
    </div>
    <div class="button">
        <form method="post" th:action="@{/logout}">
            <button type="submit" class="slide-btns slide-left" value="Вход">Вход</button>
        </form>
        <form action="#contact">
            <button type="submit" class="slide-btns slide-left" >Контакты</button>
        </form>
    </div>
</div>
<div class="article">

    <div class="search-product-logo">
 <div class="search-product">
<form th:method="POST" th:action="@{/product/search}">

        <input type="text" placeholder="Поиск" id="search" name="search" th:value="*{value_search}">
        <p>Цена</p>
        <div>
        <input type="text" placeholder="От" name="ot" id="ot" th:value="*{value_price_ot}">
        <input type="text" placeholder="До" name="do" id="do" th:value="*{value_price_do}">
        </div>
        <div class="radio">
            <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
            Отсортировать по возрастанию цены
            <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">
            Отсортировать по убыванию цены
        </div>
    <button type="submit" value="Найти">Поиск</button>
</form>
 </div>
    <div class="logo">
        <img  th:src="@{/images/1.jpg}">
    </div>
    </div>


<div class="result-search">

<div th:each="product : ${search_product}">
    <h3></h3>
    <ul class="hover-effect-scale">
        <li>
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
            <div>
                <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
                <p th:text="'Цена: ' + ${product.getPrice()}"></p>
            </div>
        </li>
    </ul>
</div>

</div>
    <hr>

<div class="list-product">
    <h3>Каталог</h3>
<div th:each="product : ${products}">
    <ul class="product" id="product">
        <li>
            <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="250px">
            <div class="effect-to-right">
                <p th:text="${product.getTitle()}"></p>
                <a th:href="@{/product/info/{id}(id=${product.getId()})}">Подробнее</a>
            </div>
        </li>
    </ul>

</div>
</div>

<div class="aside">
    <H3 id="contact">Контакты</H3>
    <p>Наши магазины:<br>OUTFIT ТЦ Династия<br>CALIFORNIA ТЦ Северный Гостиный двор<br>Телефон:+7 (908) 853-56-53</p>
</div>
<div class="footer">
    <a href="#">Наверх</a>
</div>
</body>
</html>