<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет администратора</title>
    <link rel="icon" th:href="@{images/icon.png}" />
    <link th:href="@{/css/admin.css}" type="text/css" rel="stylesheet">
</head>
<body class="container">
<div class="header">
    <a href="#"><img width="100px" th:src="@{images/logo.jpg}" /></a>
    <div class="button">
<form method="post" th:action="@{/logout}">
    <button class="slide-btns slide-left" type="submit" value="Выйти">Выйти</button>
</form>
    <form action="admin/product/add">
        <button class="slide-btns slide-left" type="submit" >Добавить товар</button>
    </form>
        <form action="admin/allPerson">
            <button class="slide-btns slide-left" type="submit" >Список пользователей</button>
        </form>
    </div>
</div>
<div class="article">
<div class="product" th:each="product : ${products}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="150px">
    <H3 th:text="'Наименование: ' + ${product.getTitle()}"></H3>
    <p th:text="'Описание: ' + ${product.getDescription()}"></p>

    <p th:text="'Цена: ' + ${product.getPrice()}"></p>

    <p th:text="'Cклад: ' + ${product.getWarehouse()}"></p>

    <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
    <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
    <div class="form">
    <form th:action="@{/admin/product/edit/{id}(id=${product.getId()})}">
        <button class="slide-btns slide-left" type="submit">Редактировать</button>
    </form>
    <form th:action="@{/admin/product/delete/{id}(id=${product.getId()})}">
        <button class="slide-btns slide-left" type="submit">Удалить</button>
    </form>
    </div>
</div>
    <hr>
</div>
<div class="footer">
    <a href="#">Наверх</a>
</div>
</body>
</html>