<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="icon" th:href="@{images/icon.png}" />
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="img">
    <a href="/product"> <img width="200px" th:src="@{images/logo1.jpg}" alt="На главную"></a>
</div>
<div class="login">
    <div class="form">
    <form class = "login-form" method="post" th:actioin="@{/registration}" th:object="${person}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <input type="text" th:field="*{login}" id="login">
    <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
    <input type="password" th:field="*{password}" id="password">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <button>Зарегистрироваться</button>

    <p class="message"><a href="/authentication">Страница входа</a></p>

</form>
    </div>
</div>
</body>
</html>